<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <div class="container-fluid">
                <button class="navbar-toggler text-white" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link text-white active" aria-current="page" href="#">
                            Mon - Sun: 8:00am - 6:00pm
                        </a>
                        <a class="nav-link text-white" href="#"> (123) 456-7890</a>
                        <a class="nav-link text-white" href="#">facebook</a>
                        <a class="nav-link text-white" href="#">twitter</a>
                        <a class="nav-link text-white" href="#">instagram</a>
                        <a class="nav-link text-white" href="#">pin</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-action="Signout" asp-controller="Auth" method="post">
                                <button type="submit" class="btn btn-danger" asp-action="Signout" asp-controller="Auth">SignOut</button>
                            </form>
                            <p class="nav-link text-white">Username:@User.Identity.Name</p>
                        }
                        else
                        {
                            <a class="nav-link text-white" asp-action="Register" asp-controller="Auth">Register</a>
                            <a class="nav-link text-white" asp-action="Login" asp-controller="Auth">Login</a>
                        }
                    </div>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid container">
                <a class="navbar-brand" href="#"><img src="./assets/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ps10" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Vehicles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Supports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Clients
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Blog
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    @RenderBody()

    <footer>
        <div class="bg-primary">
            <div class="container">
                <div class="row pt-3 pb-3">
                    <div class="col-lg-4 ">
                        <p class="fs-2 text-white">Newsletter</p>
                        <p class="fs-4 text-white">Subscribe for our weekly newsletter.</p>
                    </div>
                    <div class="col-lg-8 d-flex align-items-center">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text" id="inputGroup-sizing-lg">
                                <i class="bi bi-messenger"></i>
                            </span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-lg">
                            <span class="input-group-text" id="inputGroup-sizing-lg">
                                SignUp <i class="bi bi-telegram"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-lg-6 ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.7485018707653!2d49.81325175117497!3d40.37010057926948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307dc397d94dc3%3A0x617bc46b47244c00!2sAzerbaijan%20Technical%20University!5e0!3m2!1sen!2s!4v1655116733359!5m2!1sen!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                </div>
                <div class="col-lg-6 bg-dark ">
                    <div class="container">
                        <form action="" class="mt-5 pb-5">
                            <div class="row mt-5">
                                <input class="form-control" placeholder="Name" type="text">
                            </div>
                            <div class="row mt-5">
                                <input class="form-control" placeholder="Email" type="text">
                            </div>
                            <div class="row mt-5">
                                <input class="form-control" placeholder="Phone" type="text">
                            </div>
                            <div class="row mt-5">
                                <textarea class="form-control" type="text"></textarea>
                            </div>
                            <div class="row mt-5">
                                <button class="btn btn-light text-primary fs-3 fw-bolder w-50">Submit Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 pb-5 d-flex justify-content-center">
            <div class="row d-flex justify-content-center gap-3">
                <div class="col-lg-3">
                    <div class="d-flex">
                        <div class="rounded-circle border-primary border  d-flex justify-content-center align-items-center ">
                            <i class="bi bi-geo-alt fs-1 text-primary p-4"></i>
                        </div>
                        <div>
                            <p class="bold fs-3">Address</p>
                            <p class="bold fs-4 text-black-50">Address</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex">
                        <div class="rounded-circle border-primary border  d-flex justify-content-center align-items-center ">
                            <i class="bi bi-geo-alt fs-1 text-primary p-4"></i>
                        </div>
                        <div>
                            <p class="bold fs-3">Address</p>
                            <p class="bold fs-4 text-black-50">Address</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex">
                        <div class="rounded-circle border-primary border  d-flex justify-content-center align-items-center ">
                            <i class="bi bi-geo-alt fs-1 text-primary p-4"></i>
                        </div>
                        <div>
                            <p class="bold fs-3">Address</p>
                            <p class="bold fs-4 text-black-50">Address</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-info mt-3">
            <div class="container">
                <div class="d-flex justify-content-center gap-2 pt-5">
                    <a class="border border-primary" href="#"><i class="bi bi-facebook p-1"></i></a>
                    <a class="border border-primary" href="#"><i class="bi bi-facebook p-1"></i></a>
                    <a class="border border-primary" href="#"><i class="bi bi-facebook p-1"></i></a>
                    <a class="border border-primary" href="#"><i class="bi bi-facebook p-1"></i></a>
                    <a class="border border-primary" href="#"><i class="bi bi-facebook p-1"></i></a>
                </div>
                <p class="pb-5 mt-5 text-center">All Rights reserved</p>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @RenderSection("scripts", false)
</body>

</html>

